{%- comment -%}
Formats a lowercase title from a file name for display.
Usage: {% include title.html text="urine lam for tuberculosis in hiv" %}
Output: Urine LAM for tuberculosis in HIV
Add to the replace chain below when a new acronym starts showing up in file names.
{%- endcomment -%}
{%- assign t = include.text | strip | capitalize -%}
{%- assign t = ' ' | append: t | append: ' ' -%}
{%- assign t = t | replace: ',', ' ,' | replace: '/', ' / ' | replace: '(', '( ' | replace: ')', ' )' -%}
{%- assign t = t
  | replace: ' hiv ', ' HIV '
  | replace: ' Hiv ', ' HIV '
  | replace: ' aids ', ' AIDS '
  | replace: ' tb ', ' TB '
  | replace: ' Tb ', ' TB '
  | replace: ' cd4 ', ' CD4 '
  | replace: ' Cd4 ', ' CD4 '
  | replace: ' lam ', ' LAM '
  | replace: ' Lam ', ' LAM '
  | replace: ' mtb rif ', ' MTB/RIF '
  | replace: ' mtb ', ' MTB '
  | replace: ' rif ', ' RIF '
  | replace: ' ada ', ' ADA '
  | replace: ' Ada ', ' ADA '
  | replace: ' dili ', ' DILI '
  | replace: ' Dili ', ' DILI '
  | replace: ' sti ', ' STI '
  | replace: ' Sti ', ' STI '
  | replace: ' stis ', ' STIs '
  | replace: ' rdt ', ' RDT '
  | replace: ' rdts ', ' RDTs '
  | replace: ' mdr ', ' MDR '
  | replace: ' Mdr ', ' MDR '
  | replace: ' xdr ', ' XDR '
  | replace: ' art ', ' ART '
  | replace: ' Art ', ' ART '
  | replace: ' prep ', ' PrEP '
  | replace: ' Prep ', ' PrEP '
  | replace: ' pep ', ' PEP '
  | replace: ' csf ', ' CSF '
  | replace: ' Csf ', ' CSF '
  | replace: ' crag ', ' CrAg '
  | replace: ' Crag ', ' CrAg '
  | replace: ' tst ', ' TST '
  | replace: ' igra ', ' IGRA '
  | replace: ' Igra ', ' IGRA '
  | replace: ' ipt ', ' IPT '
  | replace: ' tpt ', ' TPT '
  | replace: ' iris ', ' IRIS '
  | replace: ' Iris ', ' IRIS '
  | replace: ' mcq ', ' MCQ '
  | replace: ' Mcq ', ' MCQ '
  | replace: ' mcqs ', ' MCQs '
  | replace: ' Mcqs ', ' MCQs '
  | replace: ' osce ', ' OSCE '
  | replace: ' Osce ', ' OSCE '
  | replace: ' who ', ' WHO '
  | replace: ' Who ', ' WHO '
  | replace: ' nlr ', ' NLR '
  | replace: ' Nlr ', ' NLR '
  | replace: ' fuo ', ' FUO '
  | replace: ' Fuo ', ' FUO '
  | replace: ' esrd ', ' ESRD '
  | replace: ' Esrd ', ' ESRD '
  | replace: ' ckd ', ' CKD '
  | replace: ' Ckd ', ' CKD '
  | replace: ' hbv ', ' HBV '
  | replace: ' Hbv ', ' HBV '
  | replace: ' hcv ', ' HCV '
  | replace: ' Hcv ', ' HCV '
  | replace: ' hpv ', ' HPV '
  | replace: ' cmv ', ' CMV '
  | replace: ' Cmv ', ' CMV '
  | replace: ' ebv ', ' EBV '
  | replace: ' uti ', ' UTI '
  | replace: ' Uti ', ' UTI '
  | replace: ' icu ', ' ICU '
  | replace: ' Icu ', ' ICU '
  | replace: ' mrsa ', ' MRSA '
  | replace: ' Mrsa ', ' MRSA '
  | replace: ' esbl ', ' ESBL '
  | replace: ' amr ', ' AMR '
  | replace: ' Amr ', ' AMR '
  | replace: ' dst ', ' DST '
  | replace: ' pcr ', ' PCR '
  | replace: ' Pcr ', ' PCR '
  | replace: ' crp ', ' CRP '
  | replace: ' Crp ', ' CRP '
  | replace: ' esr ', ' ESR '
  | replace: ' fbc ', ' FBC '
  | replace: ' cbc ', ' CBC '
  | replace: ' ecg ', ' ECG '
  | replace: ' Ecg ', ' ECG '
  | replace: ' cxr ', ' CXR '
  | replace: ' Cxr ', ' CXR '
  | replace: ' ct ', ' CT '
  | replace: ' mri ', ' MRI '
  | replace: ' Mri ', ' MRI '
  | replace: ' pjp ', ' PJP '
  | replace: ' pcp ', ' PCP '
  | replace: ' plhiv ', ' PLHIV '
  | replace: ' pmtct ', ' PMTCT '
  | replace: ' Pmtct ', ' PMTCT '
  | replace: ' vl ', ' VL '
  | replace: ' u=u ', ' U=U '
  | replace: ' U=u ', ' U=U '
  | replace: ' covid-19 ', ' COVID-19 '
  | replace: ' Covid-19 ', ' COVID-19 '
  | replace: ' covid ', ' COVID '
  | replace: ' sars-cov-2 ', ' SARS-CoV-2 '
  | replace: ' t cell ', ' T cell '
  | replace: ' t-cell ', ' T-cell '
  | replace: ' b cell ', ' B cell '
  | replace: ' xpert ', ' Xpert '
  | replace: ' genexpert ', ' GeneXpert '
  | replace: ' Genexpert ', ' GeneXpert '
  | replace: ' tanzania ', ' Tanzania '
  | replace: ' tanzanian ', ' Tanzanian '
  | replace: ' africa ', ' Africa '
  | replace: ' african ', ' African '
  | replace: ' sub-saharan ', ' sub-Saharan '
  | replace: ' hodgkin ', ' Hodgkin '
  | replace: ' burkitt ', ' Burkitt '
  | replace: ' kaposi ', ' Kaposi '
  | replace: ' plasmodium ', ' Plasmodium '
  | replace: ' harrison ', ' Harrison '
  | replace: ' harrisons ', " Harrison's "
-%}
{%- assign t = t | replace: ' ,', ',' | replace: ' / ', '/' | replace: '( ', '(' | replace: ' )', ')' -%}
{{- t | strip -}}
